.watering-button{
    background-color: #4CAF50;
    font-family: "Raleway-ExtraBold";
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.watering-button:hover{
    background-color: #000;
}

.add-plant-form{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.add-plant-form h2 {
    font-family: "Raleway-ExtraBold";
    color: #366459;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.add-plant-form label {
    display: block;
    font-family: "Raleway";
    font-weight: 700;
    color: #366459;
    margin-bottom: 5px;
}

.add-plant-form input[type="datetime-local"],
.add-plant-form input[type="text"],
.add-plant-form input[type="number"],
.add-plant-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f4f1;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.add-plant-form button.add-button {
    background-color: #115f14;
    font-family: "Raleway-ExtraBold";
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add-plant-form button.add-button:hover {
    background-color: #2e3d29;
}