.new-task-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.new-task-form h2 {
    font-family: "Raleway-ExtraBold";
    color: #366459;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.new-task-form label {
    display: block;
    font-family: "Raleway";
    font-weight: 700;
    color: #366459;
    margin-bottom: 5px;
}

.new-task-form input[type="datetime-local"],
.new-task-form input[type="text"],
.new-task-form input[type="number"],
.new-task-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f4f1;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.new-task-form button.register-button {
    background-color: #115f14;
    font-family: "Raleway-ExtraBold";
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.new-task-form button.register-button:hover {
    background-color: #2e3d29;
}

.edit-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.edit-form h2 {
    font-family: "Raleway-ExtraBold";
    color: #366459;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.edit-form label {
    display: block;
    font-family: "Raleway";
    font-weight: 700;
    color: #366459;
    margin-bottom: 5px;
}

.edit-form input[type="datetime-local"],
.edit-form input[type="text"],
.edit-form input[type="number"],
.edit-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f4f1;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.edit-form button.save-button {
    background-color: #115f14;
    font-family: "Raleway-ExtraBold";
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.edit-form button.cancel-button {
    background-color: #c91111;
    font-family: "Raleway-ExtraBold";
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.edit-form button.add-button {
    background-color: #4CAF50;
    font-family: "Raleway-ExtraBold";
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.edit-form button:hover {
    background-color: #000;
    color: white;
}

#update-worker-button{
    background-color: #115f14;
    font-family: "Raleway-ExtraBold";
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;

}

#add-plant-button,
#add-worker-button
{
    background-color: #4CAF50;
    font-family: "Raleway-ExtraBold";
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#save-edit-button{
    background-color: #115f14;
    font-family: "Raleway-ExtraBold";
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;

}
#add-plant-button:hover,
#save-edit-button:hover, 
#update-worker-button:hover{
    background-color: #000;
    color: white;
}

#cancel-edit-button, .remove-worker, .remove-plant{
    background-color: #c91111;
    font-family: "Raleway-ExtraBold";
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}



